<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logConsoleFormat"     value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${message} ${exception:format=tostring}" />
  <variable name="logFileFormat"        value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${logger}].[${level}] ${message} ${exception:format=tostring}" />
  <variable name="cmdLinelogFileFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${level}] ${message} ${exception:format=tostring}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${logConsoleFormat}" />
    
    <target xsi:type="File"
            name ="Import"
            fileName="Logs\import.log"
            layout="${logFileFormat}"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />
  </targets>

  <rules>
    <logger name ="*" minlevel="Trace" writeTo="Import,console" />
  </rules>
</nlog>